body {
  background: #837da2;
}

.result {
  background: white;
  height: 50px;
  width: 390px;
  margin: auto auto 10px auto;
  color: black;
  font-weight: bold;
  padding: 5px;
  border: 1px solid;
}

button {
  width: 100px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
}

.calculator-body {
  background: #fff7afc2;
  margin: 20% auto auto auto;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
}
